<%= render 'shared/errors', model_object: @race_edition %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @race_edition do |f| %>
      <%= f.label :race %>
      <%= f.select :race_id, Race.all.map { |race| [race.name, race.id] },
                   {prompt: true}, {class: "form-control dropdown-select-field"} %>

      <%= f.label :date %>
      <%= datepicker_input(form: f,
                           field: :date,
                           existing_date: @race_edition.date,
                           default_date: {year: 2019, month: 9, day: 14},
                           default_view: 'decades') %>
                           
      <%= f.label :entry_fee %>
      <%= f.text_field :entry_fee %>

      <%= f.label 'Male default start time' %>
      <%= f.text_field :default_start_time_male_local, placeholder: 'hh:mm:ss' %>

      <%= f.label 'Female default start time' %>
      <%= f.text_field :default_start_time_female_local, placeholder: 'hh:mm:ss' %>

      <hr/>
      <%= f.submit(@race_edition.new_record? ? 'Create Race Edition' : 'Update Race Edition', class: "btn btn-success") %>
      <hr/>
      <% unless @race_edition.new_record? %>
        <%= link_to 'Delete Race Edition', race_edition_path(@race_edition), method: :delete, data: {confirm: 'Delete this race edition?'}, class: 'btn btn-danger btn-block' %>
      <% end %>
      <%= link_to '[ Cancel ]', @race_edition.new_record? ? races_path : race_edition_path(@race_edition) %>
    <% end %>
  </div>
</div>
