<%= render 'shared/page_title', title: "Racer emails for #{@race_edition.date}" %>

<%= link_to 'All', racer_emails_race_edition_path(@race_edition), class: 'btn btn-primary' %>
<%= link_to 'Paid', racer_emails_race_edition_path(@race_edition, filter: {paid: 'true'}), class: 'btn btn-primary' %>
<%= link_to 'Unpaid', racer_emails_race_edition_path(@race_edition, filter: {paid: 'false'}), class: 'btn btn-primary' %>
<hr/>

<%= render 'racers/emails', racers: @racers %>

<h5><%= link_to 'Return to Races Listing', races_path, class: 'btn btn-warning btn-small' %></h5>