<%= render 'shared/page_title', title: "Entrants for #{@presenter.name}" %>

<div class="row">
  <div class="col-md-8 well">
    <%= @presenter.race.description %>
    <!--<%= link_to "Edit", edit_race_edition_path(@presenter), class: "btn btn-success pull-right" %>-->
  </div>

  <div class="col-md-4">
    <p><%= @presenter.race_entries.size %> entered.
      <% if (100 - @presenter.race_entries.size > 0) %>
        <%= "#{100 - @presenter.race_entries.size} entries available." %>
      <% end %>
    </p>
  </div>

</div>

<hr/>
<h4>Currently Signed Up:</h4>
<div class="row">
  <% @presenter.category_size_map.each do |category_name, size| %>
    <div class="col-xs-6"><%= "#{category_name}: #{size}" %></div>
  <% end %>
</div>
<hr/>

<% if current_user.present? %>
  <div class="row">
    <div class="col">
      <%= link_to "Edit Race Edition", edit_race_edition_path(@presenter), class: "btn btn-success btn-small" %>
    </div>
  </div>
  <br/>
<% end %>

<%= render 'race_entries/edition_entries', view_object: @presenter %>

<% if current_user.present? %>
  <h5><%= link_to "Return to Races Listing", races_path, class: "btn btn-warning btn-small" %></h5>
<% end %>
