<%= render 'shared/page_title', title: "Entrants for #{@race_edition.name}" %>

<div class="row">
  <div class="col-md-8">
    <%= link_to "Edit", edit_race_edition_path(@race_edition), class: "btn btn-success pull-right" %>
  </div>
</div>

<h5><%= link_to "Enter Race", enter_race_edition_path(@race_edition), class: "btn btn-warning btn-small" %></h5>

<%= render 'race_entries/edition_entries' %>

<h5><%= link_to "Return to Races Listing", races_path, class: "btn btn-warning btn-small" %></h5>