<%= render 'shared/page_title', title: @race.name %>

<div class="col-md-12 pull-right new-model-button">
  <%= link_to "New Race Edition", new_race_edition_path, class: "btn btn-success pull-left" %>
</div>

<div class="row">
  <div class="col-md-8">
    <%= link_to "Edit", edit_race_path(@race), class: "btn btn-success pull-right" %>
     
    <% @race.race_editions.each do |race_edition| %>
      <div class="row">
        <div class="col-lg-8 well">
          <h4><%= link_to race_edition.date, race_edition_path(race_edition) %></h4>
          <p><%= race_edition.date %></p>
          <p>
            <span class='quiet'><small> <%= time_ago_in_words(race_edition.created_at) %></small></span>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h5><%= link_to "Return to Races Listing", races_path, class: "btn btn-warning btn-small" %></h5>