<%= render 'shared/page_title', title: @race.name %>

<div class="col-md-12 pull-right new-model-button">
  <%= link_to "New Race Edition", new_race_edition_path(race_edition: {race_id: @race.id}), class: "btn btn-success pull-left" %>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Edit", edit_race_path(@race), class: "btn btn-success pull-right" %>
     <table class="table">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Entry Fee</th>
          <th>Number of Entrants</th>
        </tr>
        
        <% @race.race_editions.each do |race_edition| %>
          <tr>
            <td><%= link_to race_edition.name, race_edition_path(race_edition) %></td>
            <td><%= race_edition.date %></td>
            <td>$<%= race_edition.entry_fee %></td>
            <td><%= race_edition.racers.size %></td>
          </tr>
        <% end %>
      </table>
  </div>
</div>

<h5><%= link_to "Return to Races Listing", races_path, class: "btn btn-warning btn-small" %></h5>
