<%= render 'shared/errors', model_object: @racer %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @racer do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :gender %>
      <!--<%= f.text_field :gender %>-->
      <%= f.select :gender, Racer.genders.keys, {} %>
      
      <%= f.label :birth_date %>
      <%= f.text_field :birth_date %>
      
      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>
      
      <%= f.submit(@racer.new_record? ? 'Create Racer' : 'Update Racer', class: "btn btn-success") %>
    <% end %>
  </div>
</div>