<%= render 'date_alignment_warning' %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= "Rattlesnake Ramble #{current_full_course_edition.year} Information" %></h3>
  </div>
  <div class="table">
    <table class="table">
      <tr>
        <td>Date</td>
        <td><%= l current_full_course_edition.date, format: :long_with_day %></td>
      </tr>
      <tr>
        <td>Start Times</td>
        <td>
          <p><b>Men: </b><%= l current_full_course_edition.default_start_time_male_local, format: :ampm %></p>
          <p><b>Women: </b><%= l current_full_course_edition.default_start_time_female_local, format: :ampm %></p>
          <p><b>Kids: </b><%= l current_kids_course_edition.default_start_time_male_local, format: :ampm %></p>
        </td>
      </tr>
      <tr>
        <td>Where</td>
        <td>Eldorado Canyon State Park</td>
      </tr>
      <tr>
        <td>Cost</td>
        <td><%= "$#{current_full_course_edition.entry_fee} for long course (13 and older), $#{current_kids_course_edition.entry_fee} for Kids Course (12 and under)" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= current_full_course_edition.short_description %></td>
      </tr>
    </table>
  </div>
</div>

<div class="center jumbotron">
  <% if current_full_course_edition.date > Time.current %>
    <h1><%= "Sign up for the #{current_full_course_edition.year} Edition" %></h1>
    <p><%= "The #{current_full_course_edition.edition_count.ordinalize} Annual Ramble" %></p>

    <%= link_to "Enter now!", enter_race_edition_path(current_full_course_edition), class: "btn btn-lg btn-success" %>
    <%= link_to "Enter Kids' Race (12 & Under Only)", enter_race_edition_path(current_kids_course_edition), class: "btn btn-lg btn-success" %>
  <% else %>
    <h1><%= "Check back here soon for information about the #{current_full_course_edition.year + 1} Edition" %></h1>
  <% end %>
</div>
