<table class="table">
  <tr>
    <th><%= link_to 'Racer', request.params.merge(sort: 'racers.last_name') %></th>
    <th><%= link_to 'Bib #', request.params.merge(sort: 'race_entries.bib_number,racers.last_name') %></th>
    <th><%= link_to 'Start Time', request.params.merge(sort: 'race_entries.scheduled_start_time,race_entries.bib_number') %></th>
    <th><%= link_to 'Age', request.params.merge(sort: 'racers.birth_date desc') %></th>
    <th><%= link_to 'Paid?', request.params.merge(sort: 'race_entries.paid,race_entries.bib_number,racers.last_name') %></th>
    <th></th>
    <th><%= link_to 'Time', request.params.merge(sort: 'race_entries.time') %></th>
  </tr>
  
  <% view_object.sorted_race_entries.each do |race_entry| %>
    <tr>
      <td><%= race_entry.racer.name %></td>
      <td><%= race_entry.bib_number %></td>
      <td><%= race_entry.scheduled_start_time_military %></td>
      <td><%= race_entry.racer.current_age %></td>
      <td><%= boolean_yes_no(race_entry.paid) %></td>
      <td>
      <% unless race_entry.paid %>
        <a href="<%= paypal_url(race_entry) %>"><image src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"></image></a>
      <% end %>
      </td>
      <td><%= race_entry.elapsed_time %></td>
    </tr>
  <% end %>
</table>
