<table class="table">
  <tr>
    <th><%= link_to 'Racer', request.params.merge(sort: 'racers.last_name') %></th>
    <th>Race</th>
    <th><%= link_to 'Age', request.params.merge(sort: 'racers.birth_date desc') %></th>
    <th><%= link_to 'Bib #', request.params.merge(sort: 'bib_number') %></th>
    <th><%= link_to 'Start Time', request.params.merge(sort: 'scheduled_start_time') %></th>
    <th><%= link_to 'Paid?', request.params.merge(sort: 'paid') %></th>
    <th><%= link_to 'Time', request.params.merge(sort: 'time') %></th>
  </tr>
  
  <% race_entries.each do |race_entry| %>
    <tr>
      <td><%= link_to race_entry.racer.name, race_entry_path(race_entry)  %></td>
      <td><%= race_entry.race_edition.name %></td>
      <td><%= race_entry.racer.current_age %></td>
      <td><%= race_entry.bib_number %></td>
      <td><%= race_entry.scheduled_start_time_military %></td>
      <td><%= race_entry.paid %></td>
      <td><%= race_entry.elapsed_time %></td>
    </tr>
  <% end %>
</table>
