<table class="table">
  <tr>
    <th><%= link_to 'Racer', race_entries_path(sort: 'racers.last_name') %></th>
    <th>Race</th>
    <th><%= link_to 'Age', race_entries_path(sort: 'racers.birth_date desc') %></th>
    <th><%= link_to 'Bib #', race_entries_path(sort: 'bib_number') %></th>
    <th><%= link_to 'Paid?', race_entries_path(sort: 'paid') %></th>
    <th><%= link_to 'Time', race_entries_path(sort: 'time') %></th>
  </tr>
  
  <% @race_entries.each do |race_entry| %>
    <tr>
      <td><%= link_to race_entry.racer.name, race_entry_path(race_entry)  %></td>
      <td><%= race_entry.race_edition.name %></td>
      <td><%= race_entry.racer.current_age %></td>
      <td><%= race_entry.bib_number %></td>
      <td><%= race_entry.paid %></td>
      <td><%= race_entry.elapsed_time %></td>
    </tr>
  <% end %>
</table>