<h1>All Products</h1>
<hr/>

<!--<div class="col-md-12 pull-right new-model-button">-->
<!--  <%= link_to "New Product", new_product_path, class: "btn btn-success pull-left" %>-->
<!--</div>-->

<% @products.each do |product| %>
  <div class="row">
    <div class="col-md-1">

    </div>
    
    <div class="col-lg-8 well">
      <div class="col-lg-2 pull-left">
        <h4><%= link_to product.description, product_path(product)  %></h4>
      </div>
      <div class="col-lg-4">
        <% product.product_images.each do | product_image | %>
          <%= image_tag product_image.url, alt: product_image.alt_text, size: '100x100' %>
        <% end %>
      </div>
      <div class="col-lg-1">
        <h4>Cost: $<%= product.price %></h4>
      </div>
      <div class="col-lg-1">
        <h4>Remaining quantity: <%= product.quantity %></h4>
      </div>
    </div>
  </div>
<% end %>