<div class="container">
  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <div class="nav_item">
        <%= link_to "Rattlesnake Ramble Race", root_path, class: "btn btn-success", id: "logo" %>
      </div>
      <div class="nav_item">
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Entrants
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Full Course", race_edition_path(current_full_course_edition), id: "logo" %></li>
            <li><%= link_to "Kids Course", race_edition_path(current_kids_course_edition), id: "logo" %></li>
          </ul>
        </div>
      </div>
      <div class="nav_item">
        <%= link_to "Products", products_path, class: "btn btn-default btn-warning" %>
      </div>
      <div class="nav_item">
        <%= link_to "Rattlesnake Ramble Charity", charity_path, class: "btn btn-success", id: "logo" %>
      </div>
      <% if user_signed_in? %>
        <div class="nav_item">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Admin
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Edit Full Course Entries", race_entries_race_edition_path(current_full_course_edition), id: "logo" %></li>
              <li><%= link_to "Edit Kids Course Entries", race_entries_race_edition_path(current_kids_course_edition), id: "logo" %></li>
              <li class="divider" role="separator"></li>
              <li><%= link_to "View Full Course Emails", racer_emails_race_edition_path(current_full_course_edition), id: "logo" %></li>
              <li><%= link_to "View Kids Course Emails", racer_emails_race_edition_path(current_kids_course_edition), id: "logo" %></li>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="container">
        <div class="nav_item">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Race Reports
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="reportDropdownMenu">
              <% available_race_reports.each do |year| %>
                <li><%= link_to "#{year} Race Report", race_reports_path(year: year), class: "btn btn-sm" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
