<div class="container">
  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <div class="nav_item">
        <%= link_to "Rattlesnake Ramble Race", root_path, class: "btn btn-success", id: "logo" %>
      </div>
      <div class="nav_item">
        <div class="dropdown">
          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Entrants
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to "Full Course", race_edition_path(current_full_course_edition), id: "logo" %></li>
            <li><%= link_to "Kids Course", race_edition_path(current_kids_course_edition), id: "logo" %></li>
          </ul>
        </div>
      </div>
      <div class="nav_item">
        <%= link_to "Results", "https://www.opensplittime.org/organizations/rattlesnake-ramble", class: "btn btn-success", id: "logo" %>
      </div>
      <div class="nav_item">
        <%= link_to "Products", products_path, class: "btn btn-default btn-warning" %>
      </div>
      <div class="nav_item">
        <%= link_to "Rattlesnake Ramble Charity", charity_path, class: "btn btn-success", id: "logo" %>
      </div>
      <% if user_signed_in? %>
        <div class="nav_item">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Admin
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Edit Full Course Entries", race_entries_race_edition_path(current_full_course_edition), id: "logo" %></li>
              <li><%= link_to "Edit Kids Course Entries", race_entries_race_edition_path(current_kids_course_edition), id: "logo" %></li>
              <li class="divider" role="separator"></li>
              <li><%= link_to "View Full Course Emails", racer_emails_race_edition_path(current_full_course_edition), id: "logo" %></li>
              <li><%= link_to "View Kids Course Emails", racer_emails_race_edition_path(current_kids_course_edition), id: "logo" %></li>
              <li class="divider" role="separator"></li>
              <li><%= link_to "Races", races_path, id: "logo" %></li>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="container">

        <div class="nav_item">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Race Reports
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="reportDropdownMenu">
              <% available_race_reports.each do |year| %>
                <li><%= link_to "#{year} Race Report", race_reports_path(year: year), class: "btn btn-sm" %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="nav_item">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Race Videos
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="videoDropdownMenu">
              <li><a href="https://www.youtube.com/watch?v=t24sl242OEA">2023</a></li>
              <li><a href="https://www.youtube.com/watch?v=g1WTx4ZJcx0">2022</a></li>
              <li><a href="https://www.youtube.com/watch?v=AdPaGi4VVXE">2021</a></li>
              <li><a href="https://www.youtube.com/watch?v=-L5GzruZUPw">2020</a></li>
              <li><a href="https://www.youtube.com/watch?v=PTEAeiN1RaY">2019</a></li>
              <li><a href="https://www.youtube.com/watch?v=8sklt3Vqz1w">2018</a></li>
              <li><a href="https://www.youtube.com/watch?v=D3PDV13kJCc">2015</a></li>
              <li><a href="https://www.youtube.com/watch?v=1ALJs4BoWm8">2010</a></li>
            </ul>
          </div>
        </div>

        <div class="nav_item">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Race Photos
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="videoDropdownMenu">
              <li><a href="https://photos.google.com/share/AF1QipP4o9dtbDzbFXI1Q0kySVDLVxTiqkMMOb2_qzaJHf8tZVSTFu-5OnM3vj_CtypoXw?key=MnJiNlgzel9kcHB0MUc2NEY0czdMNkt6RkR4Ykx3">2022</a></li>
              <li><a href="https://photos.google.com/share/AF1QipNuTUlGyY06M7Hn6-gqiDtp8LI0BPLvOT78xkN2-GdrsLAogF2VNvlL2Fz5PiBVxQ?key=LVI3TjBxd0hUbkxKd1VORVFjdGVnMzkzNkRMY2tR">2021</a></li>
              <li><a href="https://photos.google.com/share/AF1QipPzaBA-iwQdCoVxGEhqbh0PDqS43--M3MGjqMQQ3Nkd7tAJvogysFXUWVywewtlrg?key=NG1iWHZfY1RrSE1wWjh4NHlSYjNFMjJyM0tNMFRn">2020</a></li>
              <li><a href="https://photos.google.com/share/AF1QipNKqHQAsJ7x0vUuMgED_3vypvm9ylI4mnLARdEA3EoNUnAQvID6RcbBeWnmNaJ5Gg?key=bXlCOWxyTS1Td3FMRlcyZ2lJcElleFBmYkM1b2p3">2019</a></li>
              <li><a href="https://photos.google.com/share/AF1QipMyW9cpr9fp1_Akl2FDGDuRh4bn84sgMYJWn8FcktR4zT5CrxC6FINTMU86dXvEkg?key=cjZhOGZTN0ZvM0R6MVVaMkxtOGlFNFpvaVM5dXVB">2018</a></li>
              <li><a href="https://photos.google.com/share/AF1QipOCJQbR_1pjG2dVYGCzJu0Sl28cym1prA17vRVTPYrlTN4SZ8HDXIrfJfv3mJHNAg?key=RzloaDRmVmlqQVp3WEQ4MEdvd3pCYnl1aE1DWVRR">2016</a></li>
              <li><a href="https://photos.google.com/share/AF1QipNsSkaZCfb7bB7EeBS3wcam15lINLPaDqrgjdsyngQTKjRThcxhD_d9p_GyIlKcwg?key=Zm4wUzh2NERTS3BkUGR4al9kMGhOaHQyeWJRcVRB">2015</a></li>
              <li><a href="https://photos.google.com/share/AF1QipN_VUVgvZeQglNyKYHFmGGvtOJNtKFV81HDuLe5HcHxS-1L05lp15jEhekpga1jjw?key=blBTVzRJbWgwTXBwLW1RR21zZDhVQkhpZS1wQlNn">2014</a></li>
              <li><a href="https://photos.google.com/share/AF1QipPWpQksTuXxrEHVnB0YSOgQb2MIlwwejXvNwbEvx2Vi51Hwg6X0Zqx3WZG7xjob6g?key=MDVoYjVXTGRsYUM3Rk9pRVU3ZUkwSm9RY3BwbE9R">2013</a></li>
              <li><a href="https://photos.google.com/share/AF1QipMfUoHWndIgtuG3h1HY0QoRw0oFlB1TKNTVVAHiBeOBCHvkmFUBxk6kqtAGGoOgFg?key=ZXJNZDF0SmNqV0ZzNEtRcjRKQ01FUlV1a2N1R293">2011</a></li>
              <li><a href="https://photos.google.com/share/AF1QipNjCYe38knQcP6nLuXQtDuUZWkkDw2gtaxgTAHDfXvyl-g2QYUlwyNFppBE6Q2r0w?key=NDRlUlllbXdYT1lEUW0zNlNvRjdBdVNLUzR1ZHBB">2010</a></li>
              <li><a href="https://photos.google.com/share/AF1QipOeP5ilfK8I47KTU9vhybgq2aQ8L1rD6sI9toOD7mIBg1OScb2Zqmrw07p7nJVU-A?key=RXgtUUpFVGZKUm82YmltYkxlU3hBa2ZUeTFXc2lB">2007</a></li>
              <li><a href="https://photos.google.com/album/AF1QipPUIAMuVVymBbdRqfKb2ztSw5NZ-cmDq4UdN-Eq">2005</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </header>
</div>
