<div class="container">
  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
       <div class="nav_item">
        <%= link_to "Rattlesnake Ramble Race", root_path, class: "btn btn-lg btn-success", id: "logo" %>
      </div>
      <div class="nav_item">
        <%= link_to "Long Course Entrants", race_edition_path('rattlesnake-ramble-trail-race-even-year-on-2020-09-12'), class: "btn btn-default btn-warning" %>
      </div> 
      <div class="nav_item">
        <%= link_to "Kids Course Entrants", race_edition_path('rattlesnake-ramble-kids-race-on-2020-09-12'), class: "btn btn-default btn-warning" %>
      </div> 
       <div class="nav_item">
        <%= link_to "Products", products_path, class: "btn btn-default btn-warning" %>
      </div> 
       <div class="nav_item">
        <%= link_to "Rattlesnake Ramble Charity", charity_path, class: "btn btn-lg btn-success", id: "logo" %>
      </div>

      <div class="container">
        <div class="nav_item">
          <%= link_to "2019 Rattlesnake Ramble Race Report", race_report_path, class: "btn btn-sm" %>
        </div>
      </div>
    </div>  
  </header>
</div>