<div class="container">
  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
       <div class="nav_item">
        <%= link_to "Rattlesnake Ramble", root_path, class: "btn btn-lg btn-success", id: "logo" %>
      </div>
      <!--<div class="nav_item">-->
      <!--  <%= link_to "Register", enter_path, class: "btn btn-default btn-info" %>-->
      <!--</div>-->
      <!-- <div class="nav_item">-->
      <!--  <%= link_to "Races", races_path, class: "btn btn-default btn-warning" %>-->
      <!--</div>-->
      <!-- <div class="nav_item">-->
      <!--  <%= link_to "Racers", racers_path, class: "btn btn-default btn-warning" %>-->
      <!--</div>    -->
      <!-- <div class="nav_item">-->
      <!--  <%= link_to "Entries", race_entries_path, class: "btn btn-default btn-warning" %>-->
      <!--</div>    -->
      <div class="nav_item">
        <%= link_to "Long Course Entrants", race_edition_path('rattlesnake-ramble-trail-race-on-2017-09-09'), class: "btn btn-default btn-warning" %>
      </div> 
      <div class="nav_item">
        <%= link_to "Kids Course Entrants", race_edition_path('rattlesnake-ramble-kids-race-on-2017-09-09'), class: "btn btn-default btn-warning" %>
      </div> 
       <div class="nav_item">
        <%= link_to "Products", products_path, class: "btn btn-default btn-warning" %>
      </div> 

      
      <div class="nav_item pull-right">
        <form action="<%= Rails.application.secrets.paypal_host %>/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="bwright@rattlesnakeramble.org">
        <input type="hidden" name="return" value="#{Rails.application.secrets.app_host}/thanks">
        <!--<input type="hidden" name="hosted_button_id" value="3R9QBEMPYGXL2">-->
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
      
    </div>  
  </header>
</div>