<!DOCTYPE html>
<html>
  <head>
    <title>Rattlesnake Ramble Trail Race</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'layouts/navigation'%>
  
    <%= image_tag 'RRLogo.jpg', size: '250x200', class: 'logo' %>
    
    <div class="container">
      <div class="page-header">
        <h1 style="text-align: center;">Rattlesnake Ramble Trail Race <small>Racing since 2005</small></h1>
      </div>
    </div>
    
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    
    <div>
      <%= render 'layouts/footer'%>
    </div>

  </body>
</html>
