<!DOCTYPE html>
<html>
  <head>
    <title>Rattlesnake Ramble Trail Race</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navigation'%>

    <div class="container">
      <div class="page-header" style="text-align: center;">
        <%= image_tag 'RRLogo.jpg', size: '250x200' %>
        <%= image_tag '2019_USATF_Sanctioned_Event_Logo.png', width: '200' %>
      </div>
    </div>

    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

    <div>
      <%= render 'layouts/footer'%>
    </div>

  </body>
</html>
